#Logo{
	padding: 20px 0px 0px 30px;
}
header{

}
body{
	margin: 0px 0px 0px 0px;
}
.topnav{
	height: 150px;
	width: auto;
	background-color: #e1fdff;
	font-size: 32px;
	text-decoration: none;
}
.topnav a{
	text-decoration: none;
}
.navbar {
  overflow: hidden;
  background-color: #78c3ff;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.promo_parent{
	width: auto;
	background-color: #e1fdff;
	background-image: url("../Assets/HCI-Buttons_BG-1.png");
	background-size: 100% 100%;
	display: flow-root;
}

.promo_img{
	float:left;
	width:45%;
}
.promo_img img{
	padding-left: 5%;
	padding-top: 5%;
	padding-bottom: 5%;
	width:90%;
	height: auto;
}

.promo_txt{
	float:right;
	padding-top:3%;
	padding-right: 5%;
	font-size: 7vw;
}

.fresh_parent{
	width: auto;
	background-image: url("../Assets/HCI-Buttons_BG-1.png");
	background-size: 100% 100%;
	display:flow-root;
}

.fresh_img{
	float:right;
	width: 45%;
}
.fresh_img img{
	padding-left: 5%;
	padding-top: 5%;
	padding-bottom: 5%;
	width: 90%;
	height: auto;
}

.fresh_txt{
	float:left;
	padding-top: 5%;
	padding-left: 5%;
	font-size: 7vw;
}

.cheap_parent{
	width: auto;
	background-image: url("../Assets/HCI-Buttons_BG-1.png");
	background-size: 100% 100%;
	display:flow-root;
}

.cheap_img{
	float:left;
	width: 45%;
}
.cheap_img img{
	padding-left: 5%;
	padding-top: 5%;
	padding-bottom: 5%;
	width: 90%;
	height: auto;
}
.cheap_txt{
	float:right;
	padding-top: 5%;
	padding-right: 5%;
	font-size: 5vw;
}

.deliv_parent{
	width: auto;
	background-image: url("../Assets/indonesia-blank-map.png");
	background-size: cover;
	display:flow-root;
}

.deliv_txt{
	float:left;
	padding-top: 5%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
	font-size: 5vw;
}

.contact{
	font-size: 5vw;
	padding: 2% 2% 2% 2%;
	vertical-align: middle;
	background-color: #c7e6d6;

}
.contact img{
	width: 4%;
}
